{{ define "index" }}

{{ template "header" }}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Главная страница</h1>
    <p class="lead">Ниже представлены статьи из нашей базы данных...</p>

    {{ range . }}
    <div class="alert alert-danger">
        <h2>{{ .Title }}</h2>
        <p>{{ .Anons }}</p>
        <a href="/post/{{ .Id }}" class="btn btn-danger">Читать далее</a>
    </div>

    {{ else }}
    <p class="lead">Статей нет!</p>

    {{ end }}

    <p class="lead">
        <a href="/more_info" class="btn btn0lg btn-secondary">Узнать больше</a>
    </p>
</main>

{{ template "footer" }}

{{ end }}